#logo{
  float: left;
  width: 250px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background: #4aaaa5;
}
#bio-image{
    width: 200px;
    float: left;
    margin: 20px;
}
.footer{
  background-color:#4aaaa5;
  color: #ffffff;
  position: fixed;
  width: 100vw;
  text-align: center;
}